@use "../abstracts/index" as *;

html, body {
    background-color: $dark-sea-blue;
    max-width: 1200px;
    min-width: 399px;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
}

h3 {
    font-size: clamp(1rem, 2.25vw, 3rem);
}