@use "../abstracts/index" as *;
@use "../base/fonts" as *;

header {
    height: 20rem;
    width: 100%;
    
    .header-content {
        @include flexbox(column, center, center);
        min-width: clamp(24.5rem, 40vw, 28rem);
        width: 50%;
    }
    
    .header-content-wrapper {
        @include flexbox(column, center, center);
        background-color: rgba(255, 255, 255, .7);
        text-align: center;
        width: 100%;

        span {
            font-family: $playfair-display;
        }
    }
}
