@use "../abstracts/index" as *;

main {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

article {
    @include flexbox(column, center, center);
    width: 100%;

    .row:nth-child(odd) {
        background-color: $tan;
    }

    .row:nth-child(even) {
        background-color: $light-sea-blue
    }
}

.row {
    @include resetbox;
    @include flexbox(row, center, center);
    justify-content: space-between;
    width: 100%;

    .outer-left-section {
        width: 8rem;

        .logo-wrapper {
            @include flexbox(column, center, center);
            height: 8rem;
            width: 8rem;
        }
    }

    .inner-left-section {
        width: 35%;
    }

    .inner-right-section {
        width: 35%;
    }

    .outer-right-section {
        width: auto;
    }
}

.company, .position {
    font-size: clamp(12px, 2.5vw, 18px);
}

.location {
    font-size: clamp(8px, 2.5vw, 12px);
    border: 1px solid grey;
}